/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

/* Setup */
.element::-webkit-scrollbar { width: 0 !important }

.i {
  filter: invert();
}

/* Page */
body {
  background-image: url(/images/background.jpg);
  background-color: #09090b;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  transition: 700ms;
}

/* Headers */
h1,h2,h3 {
  font-family: "Syne", Arial, sans-serif;
  color: rgb(19, 19, 19);
}

h1 {
  font-size: 5em;
  font-weight: 700;
  color: rgba(19, 19, 19, 1);
  text-align: center;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

/* Content */
span,p {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  color: rgb(19, 19, 19);
}