/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

/* Page */
body {
  background-image: url(/images/background.png);
  background-size: cover;
  background-color: transparent;
}

/* Content */
span,p {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

/* Headers */
h1,h2,h3 {
  font-family: "Syne", Arial, sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 5em;
  font-weight: 700;
}

h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

main {
  margin: 2em;
  padding: 1em;
  backdrop-filter: blur(28px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1em;
  border: rgba(255, 255, 255, 0.4) solid 1px;
}